{% extends 'base.html' %}

{% block title %}
500
{% endblock %}

{% block body %}
  <br>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto">
        <h1 class="text-center">Something Went Wrong...</h1>
        <p class="text-center">
          Oops, seems like something went wrong. If you would be so kind as to
          email me abalogun316@gmail.com, I would be so grateful :)
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <br>
        <a href="/citation">(Home)</a>
      </div>
    </div>
  </div>
{% endblock %}
