{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block body %}
  <br>
  <div class="container">
    <h1 class="text-center">Why Does This Exist</h1>
    <br>
    <div class="row justify-content-center">
      <div class="col-auto">
        <p>
          This exists because all the other citation websites suck. I hated spending
          20 minutes on my work cited (19 of which were spent watching ads...),
          so I decided to do it myself. If you really want to, you can shoot me
          a few bucks on Venmo @Adekunle to help with web hosting, but don't feel like you need to.
        </p>
        <p>
          If this site makes Citation Machine, Chegg, EasyBib, etc. fix their websites, then
          mission accomplished. And you should follow me on Twitter hehe(@Ade_in_myLife). -Ade
        </p>
      </div>
    </div>
  </div>
{% endblock %}
